---
import Layout from "../layouts/Layout.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Card from "../components/Card.astro";

import spotify from "../img/spotify.png";
import prioritask from "../img/prioritask.png";
import explore from "../img/explore-preview.png";
import nourishd from "../img/nourishd.png";
import bnb from "../img/bnb-consumer.png";
---

<Layout title='Samantha Whelpley'>
  <section class='c12 intro'>
    <h1 class='intro-title'>
      Hey, I'm Sam! Pitt graduate &
      <span class='highlight'>frontend software developer</span>.
    </h1>
    <SocialMedia />
  </section>
  <main class='c12 portfolio'>
    <Card
      title='Spotify Playlist Generator'
      subtitle='CS1520: Web Applications'
      body='Flask application built with a team that connects to the Spotify API and generates a playlist based on answers to a survey.'
      src={spotify}
      href='/portfolio/spotify'
    />
    <Card
      title='prioriTask'
      subtitle='RedTree Web Design'
      body='Task management application developed with Material UI and the MERN tech stack (MongoDB, Express, React, Node.js).'
      src={prioritask}
      href='/portfolio/prioritask'
    />
    <Card
      title='Explore National Parks'
      subtitle='Responsival'
      body='National Park travel resource and trip tracker designed and prototyped with Adobe XD.'
      src={explore}
      href='/portfolio/explore'
    />
    <Card
      title='Nourishd Mobile Store'
      subtitle='Nourishd Cafe and Juicery'
      body='Mobile app built with Angular/Ionic and the Shopify Storefront API to optimize the mobile shopping experience.'
      src={nourishd}
      href='/portfolio/nourishd'
    />
    <Card
      title='bnb'
      subtitle='iXperience'
      body='A full-stack home-rental system built with Angular/Ionic, Node.js, Express, and MySQL.'
      src={bnb}
      href='/portfolio/bnb'
    />
  </main>
</Layout>

<style>
  .intro {
    text-align: center;
  }
  .intro-title {
    font-weight: normal;
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }
  .intro-details {
    line-height: 1.5em;
    margin: 10px 0 10px 0;
  }
  .highlight {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 109, 119, 0.1) 50%
    );
    display: inline;
  }
  .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
</style>
