---
import moment from "moment";

const { post } = Astro.props;
---

<div class="card">
  <a href={post.url}>
    <div class="subcard">
      <img src={post.frontmatter.image.url} style="width: 100%;" />
      <p class="date">
        {moment(post.frontmatter.pubDate).format("MMMM Do, YYYY")}
      </p>
      <p class="title">{post.frontmatter.title}</p>
      <p class="desc">{post.frontmatter.description}</p>
      <div class="tag-list">
        {post.frontmatter.tags.map((t) => <div class="tag">{t}</div>)}
      </div>
    </div>
  </a>
</div>

<style>
  .card {
    background-image: url("../img/texture.jpg");
    background-size: contain;
    width: 33%;
    padding: 20px;
  }
  @media only screen and (max-width: 450px) {
    .card {
      width: 100%;
    }
  }
  a:hover {
    opacity: 1 !important;
  }
  .subcard {
    background-color: #d0eff7;
    padding: 10px;
  }
  .title {
    margin: 10px 0px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #37323e !important;
  }
  .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #37323e !important;
  }
  .date {
    font-size: 0.9rem;
    color: #37323e !important;
  }
  .tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }
  .tag {
    background-color: #37323e;
    padding: 5px;
    color: white !important;
  }
</style>
