---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

import preview from "../img/preview.png";
import favicon from '../img/favicon/favicon.ico';
import favicon16 from '../img/favicon/favicon-16x16.png';
import favicon32 from '../img/favicon/favicon-32x32.png'
import appleTouch from '../img/favicon/apple-touch-icon.png';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="Description"
      content="Samantha Whelpley's web developer portfolio"
    />
    <meta property="og:title" content="Samantha Whelpley" />
    <meta property="og:image" content={preview} />
    <meta property="og:description" content="Samantha Whelpley's portfolio" />
    <meta property="og:url" content="https://samwhelpley.me/" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={appleTouch}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={favicon32}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={favicon16}
    />
    <link rel="icon" type="image/x-icon" href={favicon} />

    <meta name="generator" content={Astro.generator} />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NSBHWYHFW5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-NSBHWYHFW5");
    </script>
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>

<style is:global>
  :root {
    --lightblue: #edf6f9;
    --medblue: #83c5be;
    --darkblue: #006d77;
    --lightpink: #ffddd2;
    --darkpink: #e29578;
    --darkbackground: #37323e;
  }
  html {
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
  h1,
  h2,
  h4 {
    font-family: "Work Sans", sans-serif;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  h4 {
    font-size: 1.4rem;
    font-weight: 600;
  }
  p,
  ol,
  li,
  figcaption {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    opacity: 0.6;
    transition: opacity linear 0.2s;
  }
  .highlight {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 109, 119, 0.1) 50%
    );
    display: inline;
  }
  .grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }
  .c-all {
    grid-column: 1 / span 12;
  }
  .c12 {
    grid-column: 2 / 12;
  }
  .c6 {
    grid-column: 4 / 10;
  }
  .c6-left {
    grid-column: 2 / 7;
  }
  .c6-right {
    grid-column: 7 / 12;
  }
  .c8-center {
    grid-column: 3 / 11;
  }
  .content-web {
    display: none;
  }
  .content-mobile {
    display: inline;
  }

  /* DARK MODE */
  .dark {
    background-color: var(--darkbackground);
    color: var(--lightblue);
  }
  .dark .nav-links {
    color: var(--lightblue);
  }
  .dark .sticky {
    color: var(--lightblue);
    background-color: var(--darkbackground);
  }
  .dark .highlight {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(226, 149, 120, 0.1) 50%
    ) !important;
    display: inline;
  }
  .dark .social-media a:hover {
    color: var(--lightpink);
    transition: color linear 0.2s;
  }
  .dark .social-media a {
    border-bottom: 0.5px solid white !important;
    transition: color linear 0.2s;
  }

  @media only screen and (min-width: 550px) {
    .content-mobile {
      display: none;
    }

    .grid {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .about-paragraphs {
      padding: 0;
      margin: 0;
    }

    .skills {
      grid-template-columns: 50% 50%;
    }
  }

  @media only screen and (min-width: 1100px) {
    .content-web {
      display: inline;
    }

    /* Portfolio */
    .portfolio {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: 3vw;
    }
  }
</style>
